
/* ***********styling for cloak******* */
[v-cloak] > * { display:
    none;}
    [v-cloak]::before{
        content:'';
        position: absolute;
        left:50%;
        top:50%;
        z-index:1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid
        #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid
        #FFA500;
        width:120px;
        height:120px;
        -webkit-animation: spin 2s
        linear infinite;
        animation: spin 2s linear
        infinite;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform:
        rotation(0deg); }
        100% { -webkit-transform: 
        rotate(360deg); }
    }
    @keyframes spin {
        0% {transform:
        rotate(0deg);}
        100% {transform:
        rotate(360deg);}
    }
    /* ***********styling for cloak******* */



    .text-white{
        color:white;
    }

    .text-black{
color:black !important;
    }

    .back{
        height:650px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/images/jollof.jpg');
    }


    #nprogress .bar{
        height:6px!important;
        background:#FFA500!important;
        border:#FFA500!important
    }
        #nprogress .spinner-icon{
            border-top-color:#FFA500!important;
            border-left-color:white!important
    }

    .radius{
        border-radius: 6px;
    }