/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	font-family: 'Open Sans', sans-serifb !important;
	margin:0;
	padding:0;
	background:#fff;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*-- banner --*/
.banner{
padding:150px 0 0 0;
background:url(../images/jollof.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 760px;
}
.banner-left{
float:right;
width:45%;
}
.logo a{
font-family: 'Courgette', cursive;
text-decoration:none;
font-size:45px;
color:#FFA500;
background: #fff;
padding: 14px 26px;
}
.banner-info h1 {
  margin: 45px 0 20px 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5em;
}
.banner-info p{
margin: 0 0 36px 0;
color:#DDD9D9;
font-size:14px;
line-height: 2em;
}
.banner-info a {
  border: 2px solid #FFA500;
  color: #FFA500;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 37px;
  border-radius: 50px;
}
.banner-info a:hover {
  border: 2px solid #fff;
  color: #fff;
}
/*-- banner --*/
/*-- banner-bottom --*/
.banner-bottom{
background:#353f49;
padding:100px 0;
}
.bottom-left{
  float: left;
  width: 15%;
  text-align: center;
}
.bottom-right{
float:right;
width:80%;
}
.bottom-right h3{
font-weight:bold;
font-family: 'Lato', sans-serif;
margin:0;
font-size:20px;
color:#FFA500;
}
.bottom-right p{
  line-height: 2em;
margin:15px 0 0 0;
font-size:14px;
color:#DDD9D9;
}
.bottom-grid:nth-child(3),.bottom-grid:nth-child(4){
margin-top:55px;
}
/*-- //banner-bottom --*/
/*-- seo --*/
.seo{
padding:100px 0;
}
.seo-grid p{
color:#FFA500;
text-align:center;
font-weight:600;
text-transform:uppercase;
font-size:20px;
margin:20px 0 0 0;
}


/*-- //seo --*/
/*-- laptop --*/
.laptop-grids,.laptop-bottom-grids{
  background: #f7f7f7;
  border-bottom: 5px solid #e8e8e8;
  border-radius: 5px;
}
.laptop-bottom-grids,.laptop-grids{
padding:50px 0;
}
.laptop-grid img,.laptop-bottom-grid img{
width:100%;
}
.laptop-grid,.laptop-bottom-grid{
padding:0;
}
.laptop-bottom{
margin:100px 0;
}
.laptop-grid-right h3,.laptop-bot-grid-right h3{
  margin: 50px 0 20px 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.7em;
  color: #000;
  font-size: 26px;
}
.laptop-grid-right h3 span,.laptop-bot-grid-right h3 span{
background:#FFA500;
color:#fff;
}
.laptop-grid-right p,.laptop-bot-grid-right p{
margin:0px 0;
line-height:2em;
color:#818181;
font-size:14px;
}
/*-- //laptop --*/
/*-- perfect --*/
.perfect{
background:#FFA500;
padding:100px 0;
}
.perfect h3{
margin:0 0 50px 0;
font-size:30px;
text-align:center;
font-weight:300;
color:#fff;
}
/*-- //perfect --*/
/*-- perfect-bottom --*/
.perfect-bottom{
background:#353f49;
padding:100px 0;
}
.perfect-buttons a.bor {
  border: 2px solid #fff;
}
.perfect-buttons a.bor:hover {
  border: 2px solid #fff;
  background:#fff;
  color:#FFA500;
}
.perfect-buttons a{
  border-radius:50px;
display:inline-block;
text-decoration:none;
color:#ffffff;
font-size:14px;
font-weight:bold;
padding:19px 42px;
}
.perfect-buttons a.red {
  border-radius:50px;
border:2px solid #ffffff;
background:#fff;
color:#FFA500;
margin-left: 25px;
}
.perfect-buttons a.red:hover {
border:2px solid #ffffff;
color:#fff;
background:none;
}
.perfect-grid h3{
  margin: 0px 0 25px 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  color:#FFA500;
  font-size: 24px;
}
.perfect-grid p{
margin: 0px 0 42px 0;
line-height:2em;
color:#DDD9D9;
font-size:14px;
}
.perfect-grid a{
border:2px solid #FFA500;
color:#FFA500;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 37px;
  border-radius:50px;
}
.perfect-grid a:hover{
border:2px solid #fff;
color:#fff;
}
/*-- //perfect-bottom --*/
/*-- price-top --*/
.pricing-grid:nth-child(2) {
  transform: scale(1.09);
}
.pricing-top{
padding:100px 0;
}
.pricing-top-grid img{
width:100%;
}
.price-text{
padding:20px 20px;
  background: #f7f7f7;
  border-bottom: 5px solid #e8e8e8;
}
.price-text h3{
text-align:center;
  margin: 0px 0 20px 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  color: #000;
  font-size: 24px;
}
.price-text p{
text-align:center;
  margin: 0px 0;
  line-height: 2em;
  color: #818181;
  font-size: 14px;
}
/*-- //price-top --*/
/*-- pricing-table --*/

.pricing-grid:hover div.basic-plan h3{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
		background:#FFA500;
		}
.pricing-grid:hover div.basic-plan p{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
		border-bottom:1px solid #FFA500;
		}
.basic-plan h3{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
  font-family: 'Lato', sans-serif;
		padding:30px 0px;
		color:#fff;
		background:#353f49;
		margin:0px;
		font-size: 24px;
		}
.basic-plan p{
		padding:10px 0;
		color:#000;
		margin:0px;
		font-size: 20px;
		border-bottom:1px solid #000000;
		}
.basic-plan p span{
		font-size:35px;
		}
.basic-plan p label{
		font-size:30px;
		}
.pricing-grid:hover div.started a{
		color:#fff;
		background:#FFA500;
		text-decoration:none;
		}
.price-text-info:hover{
		transition:.5s all;
		-webkit-transition:.5s all;
		-moz-transition:.5s all;
		-o-transition:.5s all;
		-ms-transition:.5s all;
		background: #fff;
		border:1px solid #a8a8a8;
		}
.price-text-info{
		background: #fff;
		border:1px solid #a8a8a8;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		text-align: center;

		}
.pricing-grid ul{
		margin:0px;
		padding:0px;
		}
.pricing-grid ul li{
		font-size:14px;
		list-style-type:none;
		color:#000;
		margin: 15px 0 18px;
		}
.started{
		margin-top: 2.5em;
		}
.started a{
font-weight:bold;
		color:#DDD9D9;
		padding: 17px 67px;
		display:block;
		background: #353f49;
		font-size: 14px;
		}
.pricing-table {
  padding-bottom: 100px;
}
/*-- //pricing-table --*/
/*-- footer-top --*/
.footer-top{
  background: #353f49;
  padding: 100px 0;
}
.footer-grid iframe{
width:100%;
height:300px;
}
.footer-grid a{
font-family: 'Courgette', cursive;
text-decoration:none;
font-size:45px;
color:#FFA500;
}
.footer-grid p{
line-height:2em;
  font-size: 14px;
  color: #DDD9D9;
  margin:20px 0 0 0;
}
/*-- //footer-top --*/
/*-- footer --*/
.footer{
  background: #FFA500;
  padding: 30px 0;
}
.footer p {
margin:0px 0 0 0;
font-size:14px;
color: #000;
font-weight: 600;
text-align:center;
}
.footer p a{
text-decoration:none;
color:#fff;
}
.footer p a:hover{
color: #000;
}
/*-- //footer --*/
/*--single-page--*/
.blog-info-text p {
  color: #000;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  margin: 10px 0 18px 0;
  line-height: 2em;
}
.posts-right p {
  color: #000;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  margin: 0px 0 11px 0;
  line-height: 2em;
}
.recent-posts-info {
  margin-bottom: 55px;
}
.blog-ctgry {
  margin: 40px 0;
}

.posts-left {
  float: left;
  margin-right: 14px;
  overflow: hidden;
}
.posts-right {
  float: right;
  width: 51%;
}

.blog-head h3{
font-weight:bold;
  text-align: center;
  margin: 0 0 0px 0;
  font-size: 28px;
  color: #FFA500;
}
.posts-right h5 a{
text-decoration:none;
  color:  #FFA500;
  }
.posts-right h5 {
  font-size: 16px;
  color:  #FFA500;
  margin: 3px 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
.list-group {
  margin-top: 30px;
}
.list-group-item {
  position: relative;
  color:#353f49;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background:none !important;
  border: 1px solid #353f49;
}
a.list-group-item {
  color:#000;
}
a.list-group-item:hover {
  background-color:#FFA500 !important;
  border-color: #353f49 !important;
  color: #fff;
}

.blog-info-text h5 {
  margin: 18px 0 0px 0;
  font-size: 19px;
  color: #FFA500;
  font-weight: 600;
  line-height: 1.6em;
  text-transform: uppercase;
}
.blog{
padding:100px 0;
}
.blog-img img {
  width: 100%;
}
.page-head {
  min-height: 280px !important;
}
.comment-icons {
	border-top: 1px dashed #FFA500;
	border-bottom: 1px dashed #FFA500;
	padding: 1.5em 0;
	margin: 4em 0;
}
.comment-icons ul {
	margin: 0;
	padding: 0;
}
.comment-icons ul li {
	display: inline-block;
	margin: 0 10px;
  color: #000;
  font-size: 14px;
}
.comment-icons ul li span{
  background: url(../images/iconsprite.png) no-repeat 0px 0px;
  margin-right: 10px;
  display: inline-block;
  width: 12px;
  height: 20px;
  vertical-align: middle;
}
.comment-icons ul li span.clndr {
  background: url(../images/iconsprite.png) no-repeat -19px -2px;
	width: 17px;
}
.comment-icons ul li span.admin{
  background: url(../images/iconsprite.png) no-repeat 0px -25px;
  width: 15px;
  height: 20px;
}
.comment-icons ul li span.cmnts{
  background: url(../images/iconsprite.png) no-repeat -18px -24px;
  margin-right: 5px;
  width: 17px;
}
.comment-icons ul li a.like{
	background: url(../images/iconsprite.png) no-repeat 2px -46px;
	margin-right: 6px;
	padding-left: 1.5em;
}
.comment-icons ul li a{
  color: #353f49;
  font-size: 14px;
  margin: 10px 0 18px 0;
  line-height: 1.8em;
  display: inline;
}
.comment-icons ul li a:hover{
	color:#FFA500;
}
.admin-text {
  padding: 26px;
  border: 1px dashed #FFA500;
}
.admin-text h5 {
  margin: 0 0 12px 0;
  font-size: 16px;
  color: #FFA500;
  font-weight: 600;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-right p {
  color: #000;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  margin: 0px 0 18px 0;
  line-height: 2em;
}
.admin-text-right span {
font-weight:600;
  font-size: 14px;
  margin: 0 0 10px 0;
  color:#000;
}
.admin-text-right span a {
	  color: #000;
	text-decoration:none;
}
.admin-text-right span a:hover{
	color:#FFA500;
	transition:.5s all;
}
.media.response-info {
  margin-top: 3em;
}
.response-info-mdl {
  margin: 1em 0px 1em 4em;
}
.response {
  margin-top: 40px;
}
.media-left.response-text-left {
  width: 11%;
}
.response-text h5 {
  font-weight: 600;
  font-size: 14px;
  margin: 10 0 0px 0;
  color: #887f66;
}
.response-text-left h5 a {
	text-decoration: none;
	  color: #353f49;
}
.response-text-left h5 a:hover{
	text-decoration: none;
	color:#FFA500;
}
.response-text-left h5{
  font-weight: 600;
  font-size: 14px;
  margin: 1em 0 0 0;
}
.response-text-right p {
color:#000;
line-height:2em;
  font-size: 14px;
  margin: 0 0 1em;
}
.response-text-right ul{
	padding:0;	
	text-align: right;
}
.response-text-right ul li{
  display: inline-block;
  color: #FFA500;
  font-size: 14px;
  font-weight: 600;
  margin-right: 16px;
}
.response-text-right ul li a{
    color: #000;
  font-size: 14px;
  font-weight: 600;
}
.response-text-right ul li a:hover{
	color:#FFA500;
	text-decoration:none;
}
.comment-icons ul li a {
	text-decoration:none;
  color: #000;
  font-size: 14px;
  margin: 10px 0 18px 0;
  line-height: 1.8em;
  display: inline;
}
.comment-icons ul li a:hover {
	color:#FFA500;
	text-decoration:none;
}
.coment-form input[type="text"] {
  background: none;
  width: 100%;
  color: #000;
  margin: 0 0px 23px 0;
  font-size: 14px;
  padding: 12px 10px;
  outline: none;
  border: 1px solid #000;
}
.coment-form textarea {
  background: none;
  width: 100%;
  color:#000;
  font-size: 14px;
  resize: none;
  height: 185px;
  padding: 12px;
  outline: none;
  border: 1px solid #000;
  }
.coment-form input[type="submit"] {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
  margin-top: 23px;
  border: none;
  color: #ffffff;
  padding: 13px 43px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background: #FFA500;
}
.coment-form input[type="submit"]:hover {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
  background: #353f49;
}
.coment-form h4 {
  margin-bottom: 22px;
}
.coment-form {
  margin-top: 46px;
}
.btn-primary:hover{
background:#FFA500;
}
.btn-primary {
  background: none;
  border-color: #FFA500;
  color: #353f49;
}
.blog h4 {
  margin: 0 0 0px 0;
  font-size: 19px;
  color:#FFA500;
  line-height: 1.6em;
  text-transform: uppercase;
    font-weight: 600;
}
.recent-posts h4 {
  margin: 0 0 18px 0;
}
.cmnt-icon-left {
  float: left;
  width: 25%;
}
.cmnt-icon-right {
  float: right;
  width: 75%;
}
.comments-info.cmnts-mddl {
  margin: 4em 0;
}
.cmnt-icon-right p {
  margin: 0 0 6px 0;
  font-size: 16px;
  color: #FFA500;
  font-weight: 600;
  line-height: 1.6em;
}
.cmnt-icon-right p a {
text-decoration:none;
  color: #000;
  font-size: 14px;
}
.cmnt-icon-right p a:hover {
  color: #FFA500;
}
.blog-info {
  margin-top: 40px;
}
.comments h4 {
  margin: 0 0 18px 0;
}
.comments-info p.cmmnt {
  color: #000;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  margin: 7px 0 0px 0;
  line-height: 2em;
}
.coment-form h4 {
  margin-bottom: 22px;
}
.breadcrumb {
  padding: 10px 17px;
  margin-bottom: 32px;
  list-style: none;
  background-color: #353f49;
  border-radius: 4px;
}
.breadcrumb > li a {
  color: #FFA500;
  font-size: 14px;
  text-decoration: none;
}
.breadcrumb > li a:hover{
  color: #FFA500;
}
.breadcrumb > .active {
  color: #FFA500;
}
/*--single-page--*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:11%;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive media queries --*/
@media(max-width:1440px){
	.banner {
	  min-height: 695px;
	}
}
@media(max-width:1024px){
	.banner {
	  padding: 95px 0 0 0;
	  }
	.logo a {
	  font-size: 38px;
	  padding: 9px 26px;
	}
	.banner-info h1 {
	  margin: 30px 0 15px 0;
	  font-size: 25px;
	  }
	.banner-info a {
	  padding: 9px 24px;
	  }
	.banner {
	  min-height: 525px;
	}
	.banner-left {
	  float: right;
	  width: 47%;
	}
	.banner-bottom {
	  padding: 75px 0;
	}
	.bottom-left {
	  float: left;
	  width: 12%;
	}
	.bottom-right {
	  float: right;
	  width: 86%;
	}
	.banner-info p {
	  font-size: 13px;
	  }
	.bottom-right p {
	  font-size: 13px;
	  }
	.bottom-right h3 {
	  font-size: 19px;
	  }
	.seo-grid p {
	  font-size: 19px;
	  }
	.seo {
	  padding: 75px 0;
	}
	.laptop-bottom-grids, .laptop-grids {
	  padding: 55px 0;
	}
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  margin: 0px 0 15px 0;
	  font-size: 22px;
	}
	.laptop-grid-right p, .laptop-bot-grid-right p {
	  font-size: 13px;
	}
	.perfect {
	  padding: 75px 0;
	}
	.perfect h3 {
	  font-size: 28px;
	  }
	.perfect-buttons a {
	  padding: 14px 22px;
	}
	.perfect-bottom {
	  padding: 75px 0;
	}
	.perfect-grid h3 {
	  font-size: 22px;
	}
	.perfect-grid p {
	  font-size: 13px;
	}
	.perfect-grid a {
	  padding: 9px 25px;
	  }
	.pricing-top {
	  padding: 75px 0;
	}
	.price-text h3 {
	  font-size: 22px;
	}
	.price-text p {
	  font-size: 13px;
	}
	.price-text h3 {
	  margin: 0px 0 8px 0;
	  }
	.pricing-grid ul li {
	  font-size: 13px;
	  }
	.footer-grid p {
	  font-size: 13px;
	  }
	.footer-top {
	  padding: 75px 0;
	}
	.footer-grid a {
	  font-size: 38px;
	  }
	.footer-grid iframe {
	  height: 240px;
	}
	.footer {
	  padding: 25px 0;
	}
	.page-head {
	  min-height: 235px !important;
	}
	.blog {
	  padding: 75px 0;
	}
	.blog-head h3 {
	  font-size: 26px;
	  }
	.posts-left {
	  float: left;
	  width: 45%;
	}
	.posts-right {
	  float: right;
	  width: 50%;
	}
	.posts-right h5 {
	  font-size: 15px;
	  }
	.posts-right p {
	  font-size: 13px;
	  }
	.btn {
	  padding: 4px 7px;
	  font-size: 13px;
	  }
	a.list-group-item {
	  font-size: 13px;
	}
	.list-group {
	  margin-top: 18px;
	}
	.blog-info-text p {
	  font-size: 13px;
	  }
	.comment-icons ul li a {
	  font-size: 13px;
	  }
	.comment-icons ul li {
	  font-size: 13px;
	}
	.admin-text-right p {
	  font-size: 13px;
	  }
	.admin-text-right span {
	  font-size: 13px;
	  }
	.cmnt-icon-right p a {
	  font-size: 13px;
	}
	.cmnt-icon-right p {
	  font-size: 15px;
	  }
	.comments-info p.cmmnt {
	  font-size: 13px;
	  }
	.response-text-right p {
	  font-size: 13px;
	  }
	.response-text-left h5 {
	  font-size: 13px;
	  }
	.response-text-right ul li {
	  font-size: 13px; 
	  }
	.response-text-right ul li a {
	  font-size: 13px;
	}  
	.coment-form input[type="text"],.coment-form textarea {
	  font-size: 13px;
	}  
	.coment-form textarea {
	  height: 145px;
	  }
	.coment-form input[type="submit"] {
	  padding: 10px 28px;
	} 
	.laptop-bottom {
	  margin: 75px 0;
	}	
}
@media(max-width:768px){
	.logo a {
	  font-size: 30px;
	  padding: 8px 18px;
	}
	.banner-info h1 {
	  margin: 22px 0 10px 0;
	  font-size: 22px;
	}
	.banner-info p {
	  line-height: 1.8em;
	}
	.banner {
	  padding: 70px 0 0 0;
	}
	.banner-left {
	  float: right;
	  width: 47%;
	}
	.banner-info p {
	  margin: 0 0 28px 0;
	  }
	.banner-info a {
	  font-size: 12px;
	  padding: 6px 14px;
	  }
	.banner-info h1 {
	  line-height: 1.3em;
	}
	.banner {
	  min-height: 431px;
	}
	.bottom-grid {
	  float: left;
	  width: 50%;
	}
	.bottom-right h3 {
	  font-size: 16px;
	}
	.bottom-right {
	  float: right;
	  width: 84%;
	}
	.seo-grid {
	  float: left;
	  width: 33.3%;
	}
	.seo-grid p {
	  font-size: 16px;
	}
	.laptop-grid {
	  float: left;
	  width: 50%;
	}
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  margin: 0px 0 15px 0;
	  font-size: 18px;
	}
	.laptop-grid-right {
	  float: left;
	  width: 50%;
	}
	.bottom-right p {
	  line-height: 1.8em;
	  }
	.laptop-grid-right p, .laptop-bot-grid-right p {
	  line-height: 1.8em;
	  }
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  line-height: 1.5em;
	  }
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  margin: 0px 0 10px 0;
	  }
	.laptop-bot-grid-right {
	  float: left;
	  width: 50%;
	}
	.laptop-bottom-grid {
	  float: left;
	  width: 50%;
	}
	.perfect-buttons a {
	  font-size: 13px;
	  padding: 10px 13px;
	}
	.perfect h3 {
	  font-size: 25px;
	}
	.perfect-grid {
	  float: left;
	  width: 50%;
	}

	.perfect-grid h3 {
	  font-size: 18px;
	  line-height: 1.5em;
	  }
	.perfect-grid h3 {
	  margin: 0px 0 15px 0;
	  }
	.perfect-grid p {
	  margin: 0px 0 22px 0;
	  line-height: 1.8em;
	  }
	.perfect-grid a {
	  font-size: 13px;  
	   padding: 6px 16px;
	}   
	.pricing-top-grid {
	  width: 33.3%;
	  float: left;
	} 
	.price-text h3 {
	  font-size: 18px;
	}
	.price-text p {
	  line-height: 1.8em;
	  }
	.banner-info p ,.bottom-right p,.laptop-grid-right p, .laptop-bot-grid-right p,.perfect-grid p,.price-text p{
	  font-size: 12px;
	}
	.pricing-grid {
	  float: left;
	  width: 33.3%;
	}
	.basic-plan h3 {
	  padding: 22px 0px;
	  font-size: 18px;
	}
	.pricing-grid ul li {
	  font-size: 12px;
	  margin: 0;
	  line-height: 2em;
	}  
	.pricing-grid ul {
	  margin: 20px 0 0 0;
	}  
	.started {
	  margin-top: 20px;
	} 
	.basic-plan p span {
	  font-size: 28px;
	}  
	.basic-plan p label {
	  font-size: 20px;
	} 
	.basic-plan p {
	  padding: 4px 0;
	  font-size: 14px;  
	  }
	.started a {
	  padding: 13px 0px;
	  font-size: 13px; 
	}  
	.footer-grid p {
	  line-height: 1.8em;
	  font-size: 12px;
	}  
	.footer-grid a {
	  font-size: 30px;
	}  
	.footer-grid {
	  float: left;
	  width: 50%;
	} 
	.footer-grid iframe {
	  height: 212px;
	} 
	.blog-head h3 {
	  font-size: 22px;
	}  
	.blog-info-text h5 {
	  font-size: 18px;
	}  
	.blog-info-text p {
	  line-height: 1.8em;
	  font-size: 12px;
	} 
	.comment-icons ul li {
	  font-size: 12px;
	}  
	.comment-icons ul li a {
	  font-size: 12px;
	} 
	.admin-text-right p {
	  line-height: 1.8em;
	  font-size: 12px;
	} 
	.response-text-right p {
	  line-height: 1.8em;
	  font-size: 12px;
	}  
	.coment-form textarea ,.coment-form input[type="text"]{
	  font-size: 12px;
	}  
	a.list-group-item {
	  font-size: 12px;
	}  
	.recent-posts-info {
	  float: left;
	  width: 50%;
	} 
	.posts-left {
	  float: left;
	  width: 41%;
	}  
	.posts-right {
	  float: right;
	  width: 52%;
	} 
	.posts-right p {
	  line-height: 1.8em;
	  font-size: 12px;
	}  
	.comments-info {
	  float: left;
	  width: 31.5%;
	} 
	.comments-info.cmnts-mddl {
	  margin:0 18px;
	}  
	.comments-info p.cmmnt {
	  line-height: 1.8em;
	  font-size: 12px;
	}  
	.cmnt-icon-left {
	  float: left;
	  width: 34%;
	}  
	.cmnt-icon-right {
	  float: right;
	  width: 62%;
	}  
	.cmnt-icon-right p {
	  font-size: 14px;
	} 
	.posts-right label {
	margin:0;
	  font-size: 14px;
	} 
    .page-head {
	  min-height: 180px !important;
	}
	.comment-icons {
	  margin: 30px 0;
	}
	.blog-left {
	  padding: 0;
	}
	.single-page-right {
	  padding: 0;
	}
}
@media(max-width:667px){
	.comments-info.cmnts-mddl {
	  margin: 0 16px;
	}
}
@media(max-width:640px){
	.logo a {
	  font-size: 24px;
	  padding: 5px 10px;
	}
	.banner-info h1 {
	  margin: 19px 0 4px 0;
	  font-size: 16px;
	}
	.banner-info p {
	  margin: 0 0 20px 0;
	}
	.banner {
	  padding: 43px 0 0 0;
	  min-height: 325px;
	}
	.banner-bottom {
	  padding: 55px 0;
	}
	.bottom-right h3 {
	  font-size: 13px;
	}
	.bottom-right p, .laptop-grid-right p, .laptop-bot-grid-right p, .perfect-grid p, .price-text p {
	  font-size: 11px;
    }
    .banner-info p{
        font-size: 12px;
    }
	.bottom-right p {
	  margin: 10px 0 0 0;
	  }
	.bottom-right {
	  float: right;
	  width: 82%;
	}
	.seo {
	  padding: 55px 0;
	}
	.seo-grid p {
	  font-size: 13px;
	}
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  font-size: 16px;
	}
	.laptop-grid,.laptop-bottom-grid {
	  float: left;
	  width: 45%;
	}
	.laptop-grid-right,.laptop-bot-grid-right {
	  float: left;
	  width: 55%;
	}
	.perfect h3 {
	  font-size: 22px;
	}
	.perfect h3 {
	  margin: 0 0 37px 0;
	  }
	.perfect-buttons a {
	  font-size: 12px;
	  padding: 6px 14px;
	}
	.perfect {
	  padding: 55px 0;
	}
	.perfect-grid h3 {
	  font-size: 16px;
	  }
	.perfect-bottom {
	  padding: 55px 0;
	}
	.perfect-grid a {
	  font-size: 12px;
	  padding: 6px 14px;
	}
	.price-text h3 {
	  font-size: 16px;
	}
	.price-text {
	  padding: 13px 16px;
	  }
	.basic-plan h3 {
	  padding: 15px 0px;
	  font-size: 16px;
	}
	.pricing-grid ul li {
	  font-size: 11px;
	  }
	.started a {
	  padding: 11px 0px;
	  }
	.started {
	  margin-top: 14px;
	}
	.pricing-grid ul {
	  margin: 14px 0 0 0;
	}
	.basic-plan p span {
	  font-size: 23px;
	}
	.pricing-table {
	  padding-bottom: 55px;
	}
	.pricing-top {
	  padding: 55px 0;
	}
	.footer-grid p {
	  margin: 5px 0 0 0;
	  font-size: 11px;
	}
	.footer-grid a {
	  font-size: 24px;
	}
	.footer-grid iframe {
	  height: 190px;
	}
	.page-head {
	  min-height: 122px !important;
	}
	.blog {
	  padding: 55px 0;
	}
	.blog-info-text h5 {
	  font-size: 16px;
	}
	.blog-info-text p {
	  font-size: 11px;
	}
	.comment-icons ul li a ,.comment-icons ul li{
	  font-size: 11px;
	}
	.admin-text-right p {
	  font-size: 11px;
	}
	.admin-text-right p {
	  margin: 0px 0 10px 0;
	  }
	.admin-text-left {
	  float: left;
	  width: 16%;
	}
	.admin-text-right {
	  float: right;
	  width: 83%;
	}
	.response-text-right p {
	  font-size: 11px;
	}
	.coment-form textarea, .coment-form input[type="text"] {
	  font-size: 11px;
	}
	.coment-form input[type="submit"] {
	  font-size: 13px;
	  padding: 8px 17px;
	}
	.posts-right h5 {
	  font-size: 14px;
	}
	.comments-info {
	  float: left;
	  width: 30.5%;
	}
	.comments-info.cmnts-mddl {
	  margin: 0 23px;
	}
	.cmnt-icon-left {
	  float: left;
	  width: 39%;
	}
	.cmnt-icon-right {
	  float: right;
	  width: 57%;
	}
	.cmnt-icon-right p {
	  font-size: 12px;
	}
	.posts-right p {
	  margin: 0px 0 8px 0;
	  }
	.comments-info p.cmmnt {
	  font-size: 11px;
	}
	.posts-right p {
	  font-size: 11px;
	}
	.pricing-top-grid,.pricing-grid {
	  width: 31.6%;
	  padding: 0;
	  margin-right: 15px;
	}
	.pricing-top-grid:nth-child(3),.pricing-grid:nth-child(3){
	margin:0;
	}
	.laptop-bottom {
	  margin: 55px 0;
	}
	.footer-top {
	  padding: 55px 0;
	}
	.footer {
	  padding: 16px 0;
	}
}
@media(max-width:600px){
	.pricing-grid {
	  margin-right: 13px;
	}
	.pricing-top-grid{
	  width: 31.6%;
	  padding: 0;
	  margin-right: 13px;
	}
}
@media(max-width:568px){
	.comments-info.cmnts-mddl {
	  margin: 0 21px;
	}
}

@media(max-width:480px){
	.banner-left {
	  width: 100%;
	}
	.banner {
	  min-height: 282px;
	}
	.bottom-grid {
	  float: left;
	  width: 100%;
	}
	.bottom-grid:nth-child(3), .bottom-grid:nth-child(4) ,.bottom-grid:nth-child(2){
	  margin-top: 30px;
	}
	.seo-grid {
	  padding: 0;
	}
	.seo-two {
	  background: url(../images/seohover.png) no-repeat -62px -1px;
	  width: 58px;
	  height: 58px;
	  margin: 0 auto;
	  display: block;
	  background-size: 313% !important;
	}
	.seo-three {
	  background: url(../images/seohover.png) no-repeat -2px -1px;
	  width: 58px;
	  height: 58px;
	  margin: 0 auto;
	  display: block;
	  background-size: 313% !important;
	}
	.seo-one {
	  background: url(../images/seohover.png) no-repeat -122px -1px;
	  width: 58px;
	  height: 58px;
	  margin: 0 auto;
	  display: block;
	  background-size: 313% !important;
	}
	.seo-grid p {
	  font-size: 13px;
	  margin: 14px 0 0 0;
	}
	.laptop-grid, .laptop-bottom-grid {
	  float: left;
	  width: 100%;
	}
	.laptop-grid-right, .laptop-bot-grid-right {
	  float: left;
	  width: 100%;
	}
	.laptop-grid-right {
	  margin-top: 30px;
	}
	.laptop-bottom-grid {
	  margin-top: 30px;
	}
	.perfect h3 {
	  font-size: 20px;
	}
	.perfect-grid {
	  float: left;
	  width: 100%;
	}
	.perfect-grid:nth-child(2){
	margin-top:30px;
	}
	.pricing-top-grid{
	  width: 100%;
	  padding: 0;
	  margin-right: 0;
	}
	.pricing-top-grid:nth-child(2) {
	  margin: 30px 0;
	}
	.pricing-grid {
	  width: 31.6%;
	  padding: 0;
	  margin-right: 10px;
	}
	.basic-plan h3 {
	  padding: 10px 0px;
	  font-size: 13px;
	}
	.basic-plan p span {
	  font-size: 19px;
	}
	.basic-plan p {
	  padding: 5px 0 2px 0;
	  font-size: 14px;
	}
	.pricing-grid ul {
	  margin: 10px 0 0 0;
	}
	.started {
	  margin-top: 10px;
	}
	.started a {
	  padding: 8px 0px;
	}
	.footer-grid {
	  float: left;
	  width: 100%;
	  padding:0;
	}
	.footer-grid:nth-child(2) {
	margin-top:30px;
	}
	.admin-text {
	  padding: 19px 19px;
	}
	.admin-text-left {
	  float: left;
	  width: 20%;
	}
	.admin-text-right {
	  float: right;
	  width: 79%;
	}
	.admin-text h5 {
	  font-size: 14px;
	  }
	.recent-posts-info {
	  float: left;
	  width: 100%;
	}
	.posts-left {
	  float: left;
	  width: 35%;
	}
	.posts-right {
	  float: right;
	  width: 60%;
	}
	.posts-right h5 {
	  margin: 7px 0;
	  }
	.posts-right p {
	  margin: 0px 0 13px 0;
	}
	.comments-info {
	  float: left;
	  width: 100%;
	}
	.comments-info.cmnts-mddl {
	  margin: 30px 0px;
	}
	.cmnt-icon-left {
	  float: left;
	  width: 17%;
	}
	.cmnt-icon-right {
	  float: right;
	  width: 78%;
	}
	.coment-form input[type="text"],.coment-form textarea {
	  padding: 10px 10px;
	  }
	.comment-icons ul li {
	  line-height: 2.8em;
	}
	.blog-info-text h5 {
	  font-size: 14px;
	}
	.response {
	  margin-top: 30px;
	}
	.media.response-info {
	  margin-top: 30px;
	}
	.bottom-right h3 {
	  font-size: 14px;
	}
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  font-size: 17px;
	}
	.perfect-grid h3 {
	  font-size: 17px;
	}
	.price-text h3 {
	  font-size: 17px;
	}
	.blog-head h3 {
	  font-size: 20px;
	}
	.blog-info {
	  margin-top: 30px;
	}
	.blog-info-text h5 {
	  font-size: 16px;
	}
	.comment-icons {
	  padding: 10px 0;
	  }
	.blog h4 {
	  font-size: 16px;
	  }
	.coment-form textarea {
	  height: 122px;
	}
	.recent-posts-info {
	  margin-bottom: 35px;
	}
	.footer {
	  padding: 15px 0;
	}
	.bottom-grid {
	  padding: 0;
	}
}
@media(max-width:414px){
	.pricing-grid {
	  margin-right: 9px;
	}
}
@media(max-width:384px){
	.pricing-grid {
	  margin-right: 7px;
	}
}
@media(max-width:375px){
	.pricing-grid {
	  margin-right: 8px;
	}
}
@media(max-width:320px){
	.logo a {
	  font-size: 28px;
	  padding: 5px 10px;
	}
	.banner-info h1 {
	  font-size: 14px;
	}
	.banner-info a {
	  padding: 5px 8px;
	}
	.banner {
	  min-height: 302px;
	}
	.bottom-right h3 {
	  font-size: 13px;
	}
	.banner-bottom {
	  padding: 40px 0;
	}
	.seo {
	  padding: 40px 0;
	}
	.seo-grid {
	  float: left;
	  width: 100%;
	}
	.seo-grid:nth-child(2) {
	  margin: 30px 0;
	}
	.laptop-bottom-grids, .laptop-grids {
	  padding: 40px 0;
	}
	.laptop-grid-right h3, .laptop-bot-grid-right h3 {
	  font-size: 15px;
	}
	.perfect h3 {
	  font-size: 13px;
	}
	.perfect {
	  padding: 15px 0;
	}
	.perfect-buttons a {
	  font-size: 11px;
	  padding: 5px 8px;
	}
	.perfect h3 {
	  margin: 0 0 23px 0;
	}
	.perfect-bottom {
	  padding: 40px 0;
	}
	.perfect-grid h3 {
	  font-size: 15px;
	}
	.pricing-top {
	  padding: 40px 0;
	}
	.pricing-grid {
	  width: 100%;
	  padding: 0;
	  margin-right: 0px;
	}
	.pricing-grid:nth-child(2) {
	  transform: inherit;
	  margin: 30px 0;
	}
	.basic-plan h3 {
	  padding: 16px 0px;
	  }
	.started a {
	  padding: 13px 0px;
	}
	.pricing-grid ul {
	  margin: 15px 0 0 0;
	}
	.started {
	  margin-top: 14px;
	}
	.basic-plan p {
	  padding: 8px 0 8px 0;
	  }
	.footer-top {
	  padding: 40px 0;
	}
	.footer-grid a {
	  font-size: 28px;
	}
	.footer-grid iframe {
	  height: 160px;
	}
	.footer p {
	  font-size: 11px;
	  }
	.footer {
	  padding: 10px 0;
	}
	.basic-plan h3 {
	  font-size: 17px;
	}
	.breadcrumb {
	  padding: 7px 17px;
	  }
	.blog {
	  padding: 40px 0;
	}
	.blog-info-text h5 {
	  font-size: 14px;
	}
	.blog-head h3 {
	  font-size: 18px;
	}
	.comment-icons ul li {
	  margin: 0 10px 0 0;
	  }
	.admin-text-left {
	  float: left;
	  width: 32%;
	}
	.admin-text-right {
	  float: right;
	  width: 68%;
	}
	.admin-text {
	  padding: 12px 12px;
	}
	.admin-text-right p {
	  margin: 0px 0 5px 0;
	}
	.response-text-right ul {
	  text-align: left;
	}
	.response-text-right ul li {
	  font-size: 11px;
	}
	.response-text-right ul li a {
	  font-size: 12px;
	}
	.response-text-right ul li {
	  margin-right: 3px;
	  }
	.response-text-right p {
	  margin: 0 0 5px 0;
	}
	.coment-form {
	  margin-top: 40px;
	}
	.coment-form input[type="text"] {
	  margin: 0 0px 14px 0;
	  }
	.coment-form input[type="submit"] {
	  margin-top: 14px;
	  }
	.posts-left {
	  margin-right: 12px;
	  }
	.posts-right h5 {
	  margin: 3px 0;
	}
	.posts-right p {
	  margin: 0px 0 8px 0;
	}
	.cmnt-icon-left {
	  float: left;
	  width: 28%;
	}
	.cmnt-icon-right {
	  float: right;
	  width: 69%;
	}
	.blog {
	  padding: 40px 0;
	}
	.page-head {
	  min-height: 111px !important;
	}
	.perfect-grid h3 {
	  margin: 0px 0 10px 0;
	}
	.perfect-grid {
	  padding: 0;
	}

}
/*-- //responsive media queries --*/