body{color:#904b00;background-color:#904b00;}
a, span.tag{color:#eb7400;}
a.view_details{ background:url(images/bullet_cross.png) no-repeat left; }
a.button_11, a.button_12{color:#FFFFFF;}
#header{ background-color:#904b00; color:#FFFFFF;}
.logo{ text-align:center; margin:auto; padding:40px 0 15px 10px;font-size:50px; text-shadow:1px 1px #000000;}
.logo span{ display:block; font-size:20px; line-height:50px;}
.logo img{ max-width:90%;} 
.logo, .logo a{ color:#FFFFFF;}

#load{display: none;position: absolute;right:48%;top:48%;background: url(images/loader.gif) no-repeat center;width:24px;height:24px;text-indent: -9999em;}

/* Google web font
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6, .logo, .image_caption, a.button_12, a.button_11, .trigger a, .trigger_blog a, .post_left, .post_right_unreveal, #loadMore, #showLess, a.backtoblog, .form label, .form_submit, a.call_button, a.map_button{font-family: 'Berkshire Swash', cursive;}
h2.page_title{color:#904b00;}

/* Menu style
/*------------------------------------------*/
#menu{ width:100%; padding:0px;margin:0px 0 50px 0;}
#menu ul{ list-style:none; padding:0px; margin:0px; width:100%;}
#menu ul li{ list-style:none; margin:1% 0 2% 4%; padding:7% 0; width:28%;height:auto; float:left; display:block; text-align:center;
background-image: url(/images/plate_bg.png);
background-repeat: no-repeat;
background-position: center center; 
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
#menu ul li a{ color:#000000; text-decoration:none;  text-align: center; text-shadow:1px 1px #ffffff;} 
#menu ul li a span{ display:block; text-align:center; font-size:11px; line-height:15px;}
#menu ul li img{ display:inline-block;max-width:40%;}

.sliderbg_menu{background: url(/images/bg-restaurant.jpg) no-repeat center center;background-attachment:fixed; -webkit-background-size: 100%; -moz-background-size: 100%;-o-background-size: 100%;background-size: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover; min-height:100%;}
.sliderbg{ background-color:#ffdfa1; padding:60px 0;}

.scrolltop{ background-color:#eb7400;}
.gohome{background-color:#eb7400;}
.gomenu{background-color:#eb7400;}

.pages_container{ margin:0px 2.5%; background:none; padding:20px 2.5%; border:none; width:90%;}

.toogle_wrap{border:1px #ffffff solid;}
.trigger{background:url(images/toggle.png) no-repeat right;background-position:100% -22px;}
.active {background-position:100% 0px; }
.trigger a{color: #636363;}
.trigger a:hover, .trigger a:hover:focus{color:#eb7400;}
.toogle_wrap_blog{background-color:#eb7400;}
.trigger_blog{background:url(images/toggle_blog.png) no-repeat right;background-position:100% -22px;}
.activeb {background-position:100% 0px; }
.trigger_blog a{color: #fff;}
.trigger_blog a:hover, .trigger_blog a:hover:focus{color:#fff;}
ul.tabsmenu li a{color:#000000;border:1px #ffffff solid;}
ul.tabsmenu li.active a{border-bottom-color:#fff; color:#eb7400;}
.tabcontent{border:1px #ffffff solid;}

.image_single{ background-color:#f4f4f4; border:1px solid #ececec;}
blockquote{border-top:1px solid #ffffff;border-bottom:1px solid #ffffff;}
ul.listing_detailed li {background:url(images/bullet_checked.png) no-repeat left; background-position:10px 5px;}

ul.photo_gallery_13 li, ul.photo_gallery_12 li, ul.photo_gallery_11 li{border:1px #ffffff solid;}
ul.photo_gallery_13_round li{border:1px #ffffff solid;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}
ul.photo_gallery_13_round li img{-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

.post_left{color:#FFFFFF;background-color:#eb7400;
}
.post_right_reveal{background-color:#f4f4f4;}
.post_right_unreveal{color:#FFFFFF;background-color:#eb7400;}
.post_right_unreveal a{color:#FFFFFF;}
.post_right_reveal h4{font-size:15px;}
a.post_more{background:url(images/bullet_cross_big.png) no-repeat center center #e2e2e2;text-align:center;
}
a.activep{background:url(images/bullet_cross_big_close.png) no-repeat center center #e2e2e2;}
span.post_comments{background:url(images/comments.png) no-repeat left;}
a.post_readmore{background:url(images/bullet_cross_white.png) no-repeat left;}
#loadMore, #showLess, a.backtoblog{background-color:#eb7400;color:#FFFFFF;}
.comment_row{border-bottom:1px #ddd solid;}
.comm_avatar img{-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;}

.videocontainer{border:1px #ffffff solid;border-bottom-color:#d0cfcd;}

.portfolio_item{border:1px #ffffff solid;}
.portfolio_details h4{color:#eb7400;}

.service_box, .client_row{border-bottom:1px #ffffff solid;}
.services_icon{background-color:#eb7400;}

ul.responsive_table li:first-child{background-color:#eb7400;color:#FFFFFF;}
li.table_row{background-color:#e6e6e6;}
.tweet li{border:1px #ffffff solid;}

.form label.error{color:#990000;}
.form_input, .form_textarea{border:1px #ffffff solid;}
.form_submit{color:#fff;}

ul.social li{ -webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

a.call_button{ background:url(../../images/icons/phone.png) no-repeat left #85af5d; border-bottom:3px #759a51 solid;color:#fff;}
a.map_button{ background:url(../../images/icons/map_pin.png) no-repeat left #29aae3;border-bottom:3px #198bbd solid;color:#fff;}

/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
#menu ul li{  padding:6.5% 0%;width:28.5%;margin:1% 0 2% 3.5%;}
}
@media screen and (max-width: 360px) {
#menu ul li{  padding:6% 0.3%;width:28.5%;margin:1% 0 2% 3.2%;}
}
@media screen and (max-width: 320px) {
#menu ul li{  padding:5.9% 0.2%;width:29%;margin:1% 0 2% 3.3%;}
}