body{color:#ffffff;background-color:#ffffff;}
a, span.tag{color:#ffffff;}
a.view_details{ background:url(images/bullet_cross_white.png) no-repeat left; }
a.button_11, a.button_12{color:#FFFFFF;}
#header{ background-color:#003553; color:#FFFFFF;}
.logo{ text-align:left; margin:auto; padding:50px 0 50px 10%;font-size:60px;}
.logo, .logo a{ color:#FFFFFF;}
.slogan{ color:#002c4d; font-size:20px; padding:20px 0 25px 25px;}

#load{display: none;position: absolute;right:48%;top:48%;background: url(images/loader.gif) no-repeat center;width:24px;height:24px;text-indent: -9999em;}

/* Google web font
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6, .logo, .image_caption, a.button_12, a.button_11, .trigger a, .trigger_blog a, .post_left, .post_right_unreveal, #loadMore, #showLess, a.backtoblog, .form label, .form_submit, a.call_button, a.map_button, #menu ul li a, .slogan{font-family: 'Open Sans', sans-serif;}
h2.page_title{color:#ffffff;}

/* Menu style
/*------------------------------------------*/
#menu{ width:100%; padding:0px; margin:0px 0 30px 0;}
#menu ul{ list-style:none; padding:0px; margin:0px; width:100%;}
#menu ul li{ list-style:none; margin:0; padding:20px 0 20px 10%; width:90%;height:auto; float:left; display:block; text-align:center;}
#menu ul li a{ color:#FFFFFF; text-decoration:none;  text-align: center;} 
#menu ul li a span{ display:block; text-align:left; padding:0 0 0 20px; font-size:18px; line-height:35px; float:left;}
#menu ul li img{ display:block;max-width:12%; float:left;}

.sliderbg_menu{}
.sliderbg{ background-color:#0b486b;padding:60px 0;}

.gradient_bg1{ background-color:#003553;}
.gradient_bg2{ background-color:#073e5e;}
.gradient_bg3{ background-color:#0b486b;}
.gradient_bg4{ background-color:#125b7a;}
.gradient_bg5{ background-color:#10668b;}
.gradient_bg6{ background-color:#18749c;}
.gradient_bg7{ background-color:#177eab;}
.gradient_bg8{ background-color:#1488bb;}
.gradient_bg9{ background-color:#1293cc;}
.gradient_bg10{ background-color:#0d99d7;}

.scrolltop{ border:1px #fff solid;}
.gohome{ border:1px #fff solid;}
.gomenu{ border:1px #fff solid;}

.pages_container{ margin:0px 2.5%; background:none; padding:20px 2.5%; border:none; width:90%;}

.toogle_wrap{border:1px #ececec solid;}
.trigger{background:url(images/toggle.png) no-repeat right;background-position:100% -22px;}
.active {background-position:100% 0px; }
.trigger a{color: #fff;}
.trigger a:hover, .trigger a:hover:focus{color:#fff;}
.toogle_wrap_blog{background-color:#003553;}
.trigger_blog{background:url(images/toggle_blog.png) no-repeat right;background-position:100% -22px;}
.activeb {background-position:100% 0px; }
.trigger_blog a{color: #fff;}
.trigger_blog a:hover, .trigger_blog a:hover:focus{color:#fff;}
ul.tabsmenu li a{color:#ffffff;border:1px #ececec solid;}
ul.tabsmenu li.active a{border:none; color:#ffffff; background-color:#10668b;}
.tabcontent{border:1px #ececec solid;}

.image_single{ background-color:#f4f4f4; border:1px solid #ececec;}
blockquote{border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
ul.listing_detailed li {background:url(images/bullet_checked.png) no-repeat left; background-position:10px 5px;}

ul.photo_gallery_13 li{ width:31%; padding:0px;}
ul.photo_gallery_12 li{ width:47%; padding:0px;}
ul.photo_gallery_13_round li{-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}
ul.photo_gallery_13_round li img{-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

.post_left{color:#FFFFFF;background-color:#18749c;}
.post_right_reveal{background-color:#003553;}
.post_right_unreveal{color:#FFFFFF;background-color:#18749c;}
.post_right_unreveal a{color:#FFFFFF;}
.post_right_reveal h4{font-size:15px;}
a.post_more{background:url(images/bullet_cross_big.png) no-repeat center center #18749c;
}
a.activep{background:url(images/bullet_cross_big_close.png) no-repeat center center #18749c;}
span.post_comments{background:url(images/comments.png) no-repeat left;}
a.post_readmore{background:url(images/bullet_cross_white.png) no-repeat left;}
#loadMore, #showLess, a.backtoblog{background-color:#18749c;color:#FFFFFF;}
.comment_row{border-bottom:1px #ddd solid;}
.comm_avatar img{-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;}

.videocontainer{border:1px #e5e5e5 solid;border-bottom-color:#d0cfcd;}

.portfolio_item{border:1px #ececec solid;}
.portfolio_details h4{color:#ffffff;}

.service_box, .client_row{border-bottom:1px #ddd solid;}
.services_icon{background:none; border:1px #fff solid;-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;}

ul.responsive_table li:first-child{background-color:#18749c;color:#FFFFFF;}
ul.responsive_table li:last-child{}
li.table_row{background-color:#10668b;}
.tweet li{border:none; background-color:#035792;}

.form label.error{color:#990000;}
.form_input, .form_textarea{border:1px #fff solid; background-color:#FFFFFF;}
.form_submit{color:#fff;border-bottom: none;}

ul.social li{ -webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

a.call_button{ background:url(../../images/icons/phone.png) no-repeat left #85af5d;}
a.map_button{ background:url(../../images/icons/map_pin.png) no-repeat left #29aae3;}

/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
.logo{padding:50px 0 50px 10%;font-size:40px;}
}
@media screen and (max-width: 360px) {
.logo{padding:30px 0 30px 10%;font-size:40px;}
}